<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>

		<!-- Folder  Path -->
		<!--root :\To delete folder\--> 
		<add key="RootFolderPath" value="D:\Todeletefolder - Copy" />

		<!--Number of days -->
		<!--1,2,3,4.....-->
		<add key="Days" value="0" />
		
		<!--minutes to delete file in-->
		<!--1,2,3,4.....-->
		<add key="Minutes" value="1" />

		<!-- Local or FTP -->
		<add key="AccessType" value ="Local"/>



		<!--FTP Credentials -->

		<!-- FTP Host -->
		<add key ="FTPHostIp" value="172.36.0.111"/>

		<!-- FTP User Name -->
		<add key ="FTPUserName" value="shamithl" />

		<!-- FTP Password -->
		<add key ="FTPPassword" value="Sept$1234" />

		<!-- FTP Port -->
		<add key ="FTPPort" value="22" />

		<!--Logger enable-->
		<add key ="EnableLogs" value="true" />


	</appSettings>
</configuration>